POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
    ${TOPDIR}/../layers/poky/meta \
    ${TOPDIR}/../layers/poky/meta-poky \
    ${TOPDIR}/../layers/meta-oe/meta-oe \
    ${TOPDIR}/../layers/meta-oe/meta-filesystems \
    ${TOPDIR}/../layers/meta-oe/meta-networking \
    ${TOPDIR}/../layers/meta-oe/meta-python \
    ${TOPDIR}/../layers/meta-virtualization \
    ${TOPDIR}/../layers/meta-tegra \
    ${TOPDIR}/../layers/meta-tegra/contrib \
    ${TOPDIR}/../layers/meta-intel \
    ${TOPDIR}/../layers/tegra-demo-distro/layers/meta-tegra-support \
    ${TOPDIR}/../layers/tegra-demo-distro/layers/meta-tegrademo \
    ${TOPDIR}/../layers/meta-mender/meta-mender-core \
    ${TOPDIR}/../layers/meta-mender-community/meta-mender-tegra \
    ${TOPDIR}/../layers/meta-hawkeye \
    ${TOPDIR}/../layers/meta-hawkeye-jetson \
    "

# XXX temporary, until Mender supports gatesgarth
LAYERSERIES_COMPAT_mender_append = " gatesgarth"
LAYERSERIES_COMPAT_meta-mender-tegra_append = " gatesgarth"
